body,
html {
  box-sizing: border-box;
  text-align: center;
}

div.Stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em auto;
  width: 95%;
  max-width: 1024px;
}

div.Stats div.Totals,
div.Stats div.Gateways {
  border-radius: 9999px;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0 1em 0 0;
  font-family: Consolas, monaco, monospace;
}

div.Stats div.Gateways {
  background-color: #0b3a53;
}

div.Stats div.Totals {
  background-color: #0cb892;
}

#checker\.onion\.stats div.Totals {
  background-color: #7d4698;
}

div.Results {
  display: grid;
  grid-template-columns:
    5em
    /* Status */
    6em
    /* Hotlink */
    5em
    /* Cors */
    5em
    /* Ipns */
    5em
    /* Origin */
    7em
    /* Trustless/Verifiable */
    4em
    /* Flag */
    1fr
    /* Link - remaining space */
    5em;
  /* Took */
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

div.Node {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  border-bottom: 1px solid #edf0f4;
  padding: 0.5em 0;
}

div.Node:hover {
  background-color: #edf0f4;
}


div.Node div.Link {
  text-align: left;
  padding-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.Node a,
div#origin-warning a {
  text-decoration: none;
  color: #357edd;
  white-space: nowrap;
}

div.Node div.Status,
div.Node div.Hotlink,
div.Node div.Cors,
div.Node div.Origin,
div.Node div.Trustless,
div.Node div.Ipns,
div.Node div.Flag {
  text-align: center;
  padding: 0 0.5em;
  user-select: none;
}

div.Node div[title] {
  cursor: help;
}

div.Node div.Flag {
  /* width: 2em; */
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block
}

div.Node div.Took {
  text-align: right;
  padding-right: 0.5em;
  font-size: 80%;
  font-style: italic;
}


div.Node:not(.online):not(:first-child) {
  opacity: .5
}

div#origin-warning {
  padding: 1em 1.5rem;
  margin: 0 auto 1em auto;
  max-width: 1024px;
  border-left: 4px solid #e7c000;
  background-color: #fff7d2;
  color: #34373f;
  border-radius: 0 4px 4px 0;
}

div#origin-warning p {
  letter-spacing: .5px;
  color: #b29400;
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

div#origin-warning ol,
div#origin-warning ul {
  margin: 0;
  padding-left: 1.5em;
}

div#origin-warning li {
  line-height: 1.6;
}



/**
 * Consent notification for metrics collection
 * Should be a color that is not too bright, but still visible
 */
div.metrics-notification-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  width: 100%;
  position: fixed;
  bottom: 12px;
  left: 20px;
  z-index: 2;
  background: #ffffff;
  border-radius: 4px;
  border-top: 6px solid #3B8C90;
  box-shadow: 0px 8px 14px rgba(77, 72, 69, 0.15),
    0px 1px 4px rgba(77, 72, 69, 0.15);
  padding: 28px 40px;
}

div.metrics-notification-wrapper div.metrics-modal-close {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 5px;
  font-weight: 100;
  color: #073A53;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div.metrics-notification-wrapper h3.metrics-notification-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  position: relative;
  padding-bottom: 12px;
  color: #073A53;
  font-style: normal;
  margin: 0;
}

div.metrics-notification-wrapper h3.metrics-notification-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 4px;
  background-color: #3B8C90;
  border-radius: 2px;

}

div.metrics-notification-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hidden {
  display: none !important;
}

div.metrics-notification-wrapper .metrics-notification-text {
  text-align: left;
  color: #073A53;
  font-size: 16px;
  font-weight: 300;
  margin-top: 16px;
  line-height: 20px;
  width: 100%;
}

.metrics-notification-text .metrics-notification-customize-text {
  padding-left: 10px;
}

div.metrics-notification-wrapper .metrics-notification-customize {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.metrics-notification-wrapper .metrics-notification-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 315px;
}

div.metrics-notification-wrapper .metrics-notification-content-preferences .metrics-notification-buttons {
  justify-content: center;
  max-width: 100%;
}

div.metrics-notification-wrapper a {
  /* color: rgba(107, 196, 206, 1); */
  color: #073A53;
}

div.metrics-notification-wrapper .metrics-notification-buttons button {
  border: none;
  color: #3B8C90;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  padding: 11px 20px;
}

.metrics-notification-wrapper .metrics-notification-buttons button.primary {
  background-color: #3B8C90;
  color: rgba(246, 248, 251, 1);
  font-weight: 600;
}

.metrics-notification-wrapper .metrics-notification-buttons button#metrics-notification-preferences-save {
  width: 215px;
}


.metrics-notification-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

button#metrics-notification-warning-close {
  border: 1pt solid rgba(107, 196, 206, 1);
  /* color: rgba(7, 58, 83, 1); */
}

.metrics-notification-preference-list {
  margin: 0;
  padding: 20px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics-notification-preference-list .metrics-notification-preference-list-item {
  width: 100%;
  height: 40px;
  background: #F5F7FD;
  color: #073A53;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
  border-radius: 8px;
}

.metrics-notification-preference-list .preference-list-item-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.metrics-notification-preference-list .preference-list-item-switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.metrics-notification-preference-list .preference-list-item-switch .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C4C7D6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.metrics-notification-preference-list .preference-list-item-switch .toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 2px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.metrics-notification-preference-list .preference-list-item-switch input:checked+.toggle-slider {
  background-color: #3B8C90;
}

.metrics-notification-preference-list .preference-list-item-switch input:checked+.toggle-slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

@media (max-width: 768px) {
  div.metrics-notification-wrapper {
    left: 0;
    bottom: 0;
  }

  .metrics-notification-wrapper .metrics-notification-text {
    font-size: 15px;
  }

  div.metrics-notification-wrapper .metrics-notification-buttons {
    font-size: 15px;
  }

  div.metrics-notification-wrapper h3.metrics-notification-heading {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  div.metrics-notification-wrapper {
    left: 0;
    bottom: 0;
    padding: 20px;
    border-top: 3px solid #3B8C90;
  }

  div.metrics-notification-wrapper div.metrics-modal-close {
    top: 4px;
    right: 4px;
  }
}


/**
 * From https://unpkg.com/@beyonk/gdpr-cookie-consent-banner@9.1.0/dist/style.css
 */
.metricsConsentToggle {
  /* TODO: make visible when we implement other metrics */
  display: none;
  width: 43px;
  height: 43px;
  will-change: transform;
  padding: 0;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 50%;
  transition: 200ms;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  margin: 0;
  position: fixed;
  bottom: 12px;
  left: 20px;
}

.metricsConsentToggle:disabled {
  cursor: default;
}

.metricsConsentToggle:hover {
  fill: #60BCC7 !important;
}

.metricsConsentToggle:hover rect,
.metricsConsentToggle:hover circle:not(:first-child) {
  fill: #60BCC7 !important;
}

.metricsConsentToggle:hover path {
  stroke: #60BCC7 !important;
}

/* Public Gateways Header */
.GatewaysHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.5em;
}

.GatewaysHeader .gateways-icon {
  font-size: 1.5em;
}

/* Tor Onion Gateways Section */
.OnionSection {
  margin-top: 2em;
  padding-top: 1.5em;
  border-top: 2px solid #edf0f4;
}

.OnionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.5em;
}

.OnionHeader .onion-icon {
  font-size: 1.5em;
}

.OnionMessage {
  text-align: center;
  padding: 1em 1.5em;
  margin: 1em auto;
  width: 100%;
  max-width: 1024px;
  background-color: #f5e6ff;
  border-left: 4px solid #7d4698;
  color: #34373f;
  border-radius: 0 4px 4px 0;
}

.OnionMessage p {
  margin: 0;
  line-height: 1.6;
}

.OnionMessage a {
  color: #7d4698;
  font-weight: 600;
  text-decoration: underline;
}

.OnionMessage a:hover {
  color: #5a3470;
}

/* Mobile responsive breakpoints for gateway results table */
/* Column order: Status, Hotlink, Cors, Ipns, Origin, Trustless, Flag, Link, Took */
@media (max-width: 768px) {
  div.Results {
    grid-template-columns: 3.5em 4em 3em 3em 3.5em 5em 2.5em 1fr 3.5em;
    max-width: 100%;
  }

  /* Truncate header labels with ellipsis and ensure spacing */
  div.Node.Header>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.25em;
  }

  div.Node div.Status,
  div.Node div.Hotlink,
  div.Node div.Cors,
  div.Node div.Origin,
  div.Node div.Trustless,
  div.Node div.Ipns,
  div.Node div.Flag {
    padding: 0 0.125em;
  }

  div.Node div.Link {
    padding-left: 0.5em;
  }

  div.Node div.Took {
    padding-right: 0.25em;
  }
}

@media (max-width: 480px) {
  div.Results {
    grid-template-columns: 2em 2em 2em 2em 2em 2em 1.5em 1fr 2.5em;
    font-size: 0.875em;
  }

  div.Node div.Status,
  div.Node div.Hotlink,
  div.Node div.Cors,
  div.Node div.Origin,
  div.Node div.Trustless,
  div.Node div.Ipns,
  div.Node div.Flag {
    padding: 0;
  }

  div.Node {
    padding: 0.25em 0;
  }

  div.Node div.Link {
    padding-left: 0.25em;
  }

  div.Node div.Took {
    font-size: 75%;
    padding-right: 0.125em;
  }

  div.Node.Header {
    font-size: 0.7em;
  }

  div.Node.Header>div {
    padding: 0 0.125em;
  }
}

@media (max-width: 360px) {
  .ph4-l.pt4-l.overflow-hidden {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  div.Results {
    grid-template-columns:
      1.75em 1.75em 1.75em 1.75em 1.75em 1.75em 1.5em 1fr 2em;
    font-size: 0.8em;
    min-width: 18em;
  }

  div.Node.Header {
    font-size: 0.6em;
  }

  div.Node.Header>div {
    padding: 0 0.0625em;
  }
}
